body {
    font-family: Helvetica, Arial;
    font-size: 20px;
    color: #CCCCFF;
    background-color: #FFFFFF;
}

.mainframe {
    color: #222255;
}

.cardrow {
    clear: both;
}

.cardholder {
    float: left;
    width: 200;
    height: 200;
}
