body {
    margin-left: 15px;
    font-family: Helvetica, Arial;
    font-size: 20px;
    color: #CCCCFF;
    background-color: #FFFFFF;
}

/*.mainframe {
    color: #222255;
}
*/
.username {
    color: #9999CC;
}

.cardrow {
    clear: both;
}

.cardholder {
    float: left;
    width: 110px;
    height: 110px;
}

.card {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    z-index: 0;
}

.back, .done {
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
}

.back {
    opacity: 1;
    visibility: visible;
}

.done {
    background-image: url("img/memoryBg1.jpg");
    opacity: 1;
}
